{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Student Detail</h2>
    
    <form method="post">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header">
                Student Information
            </div>
            <div class="card-body">
                <ul>
                    <li><strong>First Name:</strong> {{ student_form.first_name }}</li>
                    <li><strong>Last Name:</strong> {{ student_form.last_name }}</li>
                    <li><strong>Date of Birth:</strong> {{ student_form.date_of_birth }}</li>
                    <li><strong>Gender:</strong> {{ student_form.gender }}</li>
                    <li><strong>Address:</strong> {{ student_form.address }}</li>
                    <li><strong>Email:</strong> {{ student_form.email }}</li>
                    <li><strong>Phone Number:</strong> {{ student_form.phone_number }}</li>
                    <li><strong>Parent 1 Name:</strong> {{ student_form.parent1_f_name }} {{student_form.parent1_l_name }}</li>
                    <li><strong>Parent 2 Name:</strong> {{ student_form.parent2_f_name }} {{ student_form.parent2_l_name }}
                    <li><strong>Parent Email:</strong> {{ student_form.email }}</li>
                    <li><strong>Parent Phone Number:</strong> {{ student_form.phone_number }}</li>
                </ul>
            </div>
        </div>

        <!-- Student Status Update Card -->
        <div class="card mb-3">
            <div class="card-header">
                Update Student Status
            </div>
            <div class="card-body">
                {{ student_form.status }}
            </div>
        </div>

        

        <!-- Allergies Card -->
        <div class="card mb-3">
            <div class="card-header">
                Allergies
            </div>
            <div class="card-body">
                {{ student_form.allergies }}
            </div>
        </div>

        <!-- Fee Information Card -->
<div class="card mb-3">
    <div class="card-header">
        Fee Information
    </div>
    <div class="card-body">
        <ul>
            <li><strong>Amount:</strong> {{ fee_form.amount }}</li>
            <li><strong>Due Date:</strong> {{ fee_form.due_date }}</li>
            <li><strong>Payment Status:</strong> {{ fee_form.payment_status }}</li>
        </ul>
    </div>
</div>

        <!-- Add a submit button -->
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
</div>

{% endblock %}
